@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.clear{
    clear: both;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.wrapper{
    width: 75%;
    margin: auto;
    background: #f8f8f8;
}
/* header */
.wrapper .header{
    margin: 25px 25px;
}
.logo{
    float: left;
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 15px;
}
.logo a{
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
}
.search{
    float: left;
    margin-left: 125px;
    width: 550px;
    height: 50px;
    border: 1px solid #eceeef;
    border-radius: 5px;
    margin-bottom: 15px;
}
.search .search-imgs{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}
.search .search-img{
    width: 100%;
    height: 100%;
    background: #eceeef;
}
.search .search-img .search-input{
    width: 94%;
    height: 49px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: transparent;
}
.map{
    float: left;
    width: 215px;
    height: 50px;
    margin-left: 60px;
    margin-bottom: 15px;
}
.img a{
    color: #000;
    text-decoration: none;
}
.hotline{
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 80px;
    margin-bottom: 15px;
}
.hotline p{
    float: left;
}
.hotline .zalo{
    width: 50px;
    height: 50px;
    margin-left: 120px;
    background: #000;
    border: 1px solid #000;
    border-radius: 50%;
}
.hotline .zalo img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.cart{
    float: left;
    width: 50px;
    height: auto;
    margin-top: 10px;
    /* margin-left: 200px; */
    margin-bottom: 15px;
}
.cart a{
    color: #000000
}
.login{
    float: right;
    margin-left: 5px;
    width: 125px;
    height: 50px;
    border: 1px solid #eceeef;
    border-radius: 5px;
    margin-bottom: 15px;
}
.login .people{
    float: left;
    margin-left: 10px;
    margin-top: 13px;
}
.login .bnt{
    width: 100%;
    height: 100%;
    background: #eceeef;
}
.login .bnt .login-bnt{
    width: 92px;
    height: 49px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: transparent;
}
.list-ul .list-li{
    display: block;
    color: #000;
    float: left;
    text-align: center;
    list-style: none;
    width: 16.66666666666667%;
    height: 50px;
    transition: 0.5s ease-in-out;
}
.list-ul .list-li:hover{
    background: #ddd;
    width: 16.66666666666667%;
    height: 50px;
}
.dropbtn {
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.25s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.25s ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 80px;
    text-decoration: none;
    display: block;
    transition: 0.25s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: transparent;
}
.cach{
    width: 100%;
    height: 30px;
    background: #ffffff;
}
/* thương hiệu */
h1.thuong_hieu{
    margin: 10px 25px;
    size: 40px;
}
/* .loc{
    width: 180px;
    height: 100%;
    margin: 25px 25px;
    float: left;
}
.loc a {
    display: block;
    color: #000000;
    text-decoration: none;
}
.loc a:hover{
    color: #000000;
} */
.dropdowns{
    background: #ECECEC;
    float: right;
    margin: 25px 25px;
    width: 276px;
    height: 40px;
}
.dropdowns select{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #000000;
}
.dropdownss{
    background: #ECECEC;
    margin: 25px 25px;
    width: 276px;
    height: 40px;
}
.dropdownss select{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #000000;
}
/* main */
.main .main-adidas{
    float: left;
    width: 100%;
    height: auto;
}
ul.product{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-left: -20px;
    margin-right: 10px;
}
ul.product li{
    flex-basis: 25%;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.product li img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
ul.product li .product-top{
    position: relative;
    overflow: hidden;
}
ul.product li .product-top a.carts{
    text-decoration: none;
    size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    display: block;
    border: 1px solid #844481;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 0;
    background: #844481;
    position: absolute;
    width: 100%;
    bottom: -50px;
    transition: 0.25s ease-in-out;
    opacity: 0.8;
}
ul.product li:hover a.carts{
    bottom: 0px;
}
ul.product li .product-info a{
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 5px;
    size: 40px;
}
ul.product li .product-info .star{
    display: flex;
    flex-wrap: wrap;
}
ul.product li .product-info .star a.star-item{
    color: #ff7b00;
}
ul.product li .product-info a.product-price{
    font-weight: 600;
}
/* footer */
ul.footer-class{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.footer-class li{
    flex-basis: 20%;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.footer-class li .item{
    width: 30px;
    height: 50px;
    float: left;
    margin-top: 10px;
}
ul.footer-class1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.footer-class1 li{
    flex-basis: 33%;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.footer-class1 li .imgs{
    float: left;
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.footer-class1 li .imgs img{
    width: 100%;
    height: auto;
}
.size{
    font-size: 30px;
    text-transform: uppercase;
}
.items p{
    text-transform: uppercase;
}
.items a{
    display: block;
    text-decoration: none;
    color: #000000;
}
a.ttch{
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}
/* số trang */
.number_page{
    text-align: end;
    margin-right: 15px;
}
.number_page a.page-item{
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}
.number_page a.page-item:hover{
    color: #ffffff;
    background-color: #000000;
}
.number_page .dam{
    background: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}
.gioi_thieu{
    width: 60%;
    height: auto;
    margin: 50px auto;
}
.gioi_thieu img {
    width: 100%;
    height: auto;
}
.gioi_thieu a{
    text-decoration: none;
    color: #000000;
}
.gioi_thieu a:hover{
    color: #000000;
}
ul.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #e8e8e8;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
}
.thong-tin {
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.thong-tin a{
    text-decoration: none;
    color: #ffffff;
}
.thong-tin a:hover{
    color: #ffffff;
}
/* thông tin liên hệ */
.diachi{
    padding: 30px 60px;
    width: 100%;
    height: auto;
}
.diachi h1{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 90px;
}
.diachi img{
    float: left;
}
.diachi h2{
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}
.diachi ul.ttct li{
    clear: both;
    margin-left: 80px;
}
.diachi ul.ttct li span{
    text-transform: uppercase;
    font-weight: 300;
}
.diachi ul.tg{
    clear: both;
    margin-left: 80px;
}
.diachi ul.tg strong{
    font-size: 20px;
    font-weight: 500;
}
.diachi ul.tg li{
    margin-left: 50px;
}
.diachi button{
    width: 150px;
    height: 45px;
    margin-left: 35px;
    background: #00ffff;
    margin-bottom: 10px;
    border: 1px solid #00ffff;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}
.diachi button:hover{
    background: #02cfcf;
    border: 1px solid #02cfcf;
}
.diachi button a{
    text-decoration: none;
    color: #000000;
    transition: 0.25s ease-in-out;
}
.diachi button:hover a{
    text-decoration: none;
    color: #ffffff;
}
.diachi button img{
    margin-top: 5px;
    margin-left: 10px;
}
.diachi p{
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
}
.diachi .ti{
    margin-left: 45px;
}